<mat-toolbar class="bar">

  <mat-toolbar-row class="toprow">
    <div class="links">
      <a routerLink="/" routerLinkActive="linkactive" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/about" routerLinkActive="linkactive">About</a>
      <a routerLink="/privacy" routerLinkActive="linkactive">Privacy</a>
      <a routerLink="/contact" routerLinkActive="linkactive">Contact</a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="bottomrow">
    <div class="bartext">
        <mat-icon>pets</mat-icon> 2018 Clever Girl. No Rights reserved. Clever Girl is provided as is, as opposed to as what it is
        not. Clever Girl is neither clever, nor a girl.
    </div>
  </mat-toolbar-row>
</mat-toolbar>
