@import '../../dinotheme.scss';

$primary: map-get($dinotheme, primary);
$accent: map-get($dinotheme, accent);
$warn: map-get($dinotheme, warn);
$green: mat-color($mat-light-green, A400);


.groupofcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portrait img {
  border-radius: 14px;
  clip-path: polygon(1% 1%, 88% 1%, 100% 10%, 100% 100%, 1% 100%);
}

.portrait {
  margin: 10px;
  height: fit-content;
}

.stats {
  // width: fit-content;
  width: 100%;
  max-width: 200px;
  min-width: 100px;
  height: fit-content;
  // margin: 10px auto;
  margin: 10px;

}

.statgroup {
  width: 100%;
  display: flex;
  // margin: 2px auto;
  // justify-content: space-between;
}

.statsright {
  // border: 2px solid red;
  width: 100%;
  // line-height: 2em;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  margin-left: 2px;

}

.stat {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // margin-right: 10px;
  height: 25px;
  // text-align: center;
  // outline: 2px dashed red;
  align-items: center;
}
.stat div {
  // margin-top: 5px;
  // margin-bottom: 5px;
  margin-right: 5px;
  // margin-left: 0px;
  // margin: auto;
}
.statlabel, .movedetail {
  color: mat-color($mat-gray, 400);
}
.statvalue {
  width: 1.7rem;
  text-align: right;
}
.barline {
  min-width: 10px;
  max-width: 200px;
  width: 100%;
  margin-left: 0px;
  // margin-top: 0.2em;
  // margin-bottom: 0.2em;
  height: 25px;
  // text-align: center;
  // outline: 2px dashed red;
  display: flex;
  align-items: center;
}
.bar {
  height: 8px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color:  mat-color($accent);
}
// ::ng-deep .mat-progress-bar-fill::after {
  //   background-color: #1E457C;
// }

::ng-deep .mat-progress-bar-buffer {
  background: mat-color($mat-gray, 700);
}

::ng-deep .mat-progress-bar {
  border-radius: 4px;
}

.dinolevel {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.dinolevel mat-slider {
  width: 100%;
  padding: 0;
  // margin: 0 -20px;
}

//// MOVES

.moves {
  max-width: 300px;
  min-width: 150px;
  width: 100%;
  // width: fit-content;
  // margin: 10px auto;
  margin: 10px;
}

.move span {
  // margin: 10px auto;
  margin-top: 10px;
}

.moves, .stats {
  line-height: 0.6em;
}


.hybridcard {
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  height: fit-content;
  margin: 10px;

}
