<app-page>

  <p>
    A lot of the data in this website is input manually. So mistakes can happen, if you find anything that is incorrect please
    let me know so I can fix it.
    I've had a lot of fun building this website, there's still tons more I want to add. So if you have any ideas of how else I could improve it, I would to hear!
  </p>

  <p>
    The best way to contact me with questions or problems using this website is probably
    <a target="_blank" href="https://www.reddit.com/r/JurassicWorldAlive/comments/92i6zv/i_made_a_battle_simulator/">by posting it on Reddit.</a>
    This way, others will be able to see your question and the answer. That might help solve their problem as well.
  </p>

  <p>
    Or if you prefer, you can send me an email to
    <a href="mailto:contact@clevergirl.com" target="_blank">contact@clevergirl.com.</a>
  </p>
</app-page>
