<!-- <app-post01></app-post01> -->


<mat-card class="mat-body-1 post">
  <mat-card-header>
    <mat-card-title>
      <p class="mat-headline">
        Introducing the Battle Simulator for Jurassic World Alive
      </p>
    </mat-card-title>
    <mat-card-subtitle>Fri Jul 27 2018 </mat-card-subtitle>
  </mat-card-header>

  <p>
    You can now use the <a routerLink="sim">Battle Simulator</a> to simulate fights between every Dinosaur in the game.
    The simulator should be fully functional.
    If you find any problems
    <a routerLink="contact">please let me know.</a>
  </p>
</mat-card>

<mat-card class="mat-body-1 post">
  <mat-card-header>
    <mat-card-title>
      <p class="mat-headline">
        Welcome.
      </p>
    </mat-card-title>
    <mat-card-subtitle>Tue Jul 10 2018 </mat-card-subtitle>
  </mat-card-header>
  <p>
    <span class="mat-body-2">Clever Girl</span> is a fan site for the game
    <a target="_blank" href="https://www.ludia.com/en/games/jurassic-world-alive">Jurassic World: Alive, by Ludia</a>.
  </p>
  <p>
    Here you can check out if a player you just battled against was a
    <a routerLink="turing">Bot or Not.</a>
  </p>
</mat-card>
