.dino-table {
  /* width: 80%; */
  margin: 20px auto;
  min-width: 500px;
}

mat-cell a {
  // border: 2px solid red;
  // text-align: left;
  // margin: auto;
  display: flex;
  align-items: center;
  // align-content: flex-start;
}

mat-cell a img {
  flex-shrink: 0;
  margin-right: 5px;
  width: 50px;
  height: 60px;
  clip-path: polygon(1% 1%, 88% 1%, 100% 10%, 100% 100%, 1% 100%);
}

.nameheader {
  // min-width: 130px;

}
.namecell {
  // min-width: 150px;
  // border: 1px solid red;
  // text-align: left;
  // display: flex;
  // justify-content: left;
  // align-items: center;
  padding-left: 0px !important;
  flex: 1 0 1;
}
.namecell span {
  word-wrap: break-word;
  white-space: normal;
}

.mat-column-name {
  flex: 1 0 80px;
  padding-left: 5px;
}

.mat-column-hp {
  flex: 0.5 4 10px;
}
.mat-column-armor {
  flex: 0.5 4 10px;
}
.mat-column-damage {
  flex: 0.5 4 10px;
}
.mat-column-crit {
  flex: 0.5 4 10px;
}
.mat-column-speed {
  flex: 0.5 4 10px;
}
