<app-page>
  <mat-card-header>
    <mat-card-title>
      <p class="mat-headline">
        Welcome
      </p>
    </mat-card-title>
    <mat-card-subtitle>To Clever Girl</mat-card-subtitle>
  </mat-card-header>

  <p>
    <span class="logo">
      <img src="http://res.cloudinary.com/vibrunazo/image/upload/c_scale,f_auto,q_auto:best,w_100/logo/logo5.png">
    </span>
    <span class="mat-body-2">Clever Girl</span> is a fan site for the game
    <a target="_blank" href="https://www.ludia.com/en/games/jurassic-world-alive">Jurassic World: Alive, by Ludia</a>.
    Development for Clever Girl started June 28 2018, and the first public launch was on July 10, 2018.
  </p>

  <p>
    You can use the
    <a routerLink="sim">Battle Simulator</a> to simulate fights between every Dinosaur in the game. The simulator should be fully functional.
    The Simulator let's you fight battles against yourself or against bots.
    You can also define how luck will play out in the simulation.
    So you can use it to test exactly what you need to help you decide what dinosaurs to level up and use on your team in the actual game.
    If you find any problems
    <a routerLink="contact">please let me know.</a>
  </p>

  <p>
    Clever Girl has updated stats for all dinosaurs in the game on
    <a routerLink="stats">the stats page.</a>
    Here you can also check out if a player you just battled against was a
    <a routerLink="turing">Bot or Not.</a>
  </p>
  <p>
    Clever Girl was built using
    <a target="_blank" href="https://angular.io/">Angular</a>
    and
    <a target="_blank" href="https://material.angular.io/">Angular Material.</a>
    It is built and maintained by one single developer.
    You can reach me on
    <a routerLink="contact">the contact page.</a>
    The website was initially developed as a fun educational project to learn Angular, but it has since evolved to a little more.
  </p>

  <p>
    This website is just a simple
    <a target="_blank" href="https://en.wikipedia.org/wiki/Static_web_page">Static web Page,</a>
    it has only the front end with no back end code or a database.
    It will not directly collect any sort of personal identifying information about its users, and has no way of storing those.
    But it does use Google Analytics to understand how the website is used.
    And it may display ads from Google AdSense that can use information from the user behaviour elsewhere.
    You can read more about this on
    <a routerLink="privacy">the privacy policy.</a>
  </p>

  <p>
    The name "Clever Girl" is a reference to a famous quote in the original Jurassic Park movie.
    <a target="_blank" href="https://www.youtube.com/watch?v=YKRnEOUxZm0">Watch the scene on Youtube.</a>
  </p>



</app-page>
