<app-page>

  <p>
    Clever Girl is just a simple
    <a target="_blank" href="https://en.wikipedia.org/wiki/Static_web_page">Static web Page.</a>
    Clever Girl will never directly ask you for, or collect any sort of personally identifiable information about its users,
    and has no way of storing those. But some third party services I use may collect and store anonimized information.
  </p>
  <p>
    I use
    <a target="_blank" href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a>
    to understand how the website is used. Google Analytics uses cookies to remember if you are a new or returning user. Google
    Analytics will gather information about how you use the website and show me anonimized statistics from that. It will
    tell me how many users have visited the website each day. What kind of device, operational system and browser are being
    used. And what pages inside my website are most commonly visited. It will tell me the country and city users are comming
    from, but nothing more granular than that. Google made a
    <a target="_blank" href="https://tools.google.com/dlpage/gaoptout">browser add-on</a>
    that allows you to opt out of Google Analytics if you so desire. I will never sell or share the information from Google Analytics
    with anyone else.

  </p>
  <p>
    This website may also display ads from
    <a target="_blank" href="https://www.google.com/intl/en/adsense/start/#/?modal_active=none">Google AdSense.</a>
    Google AdSense uses cookies to serve ads based on the user's prior visits to this or other websites. This way Google can
    show ads based on what they believe will be relevent to your interests. Most internet browsers provide a way to let users
    opt out of cookies. So you can disable those if you wish. You can opt out of Google AdSense on
    <a target="_blank" href="https://www.google.com/settings/ads">their own settings page.</a>
    Alternatively, you can opt out of ads from the
    <a target="_blank" href="http://www.aboutads.info/choices/">Digital Advertising Alliance.</a>
  </p>

  <p>
    If any of the information on this page isn't clear enough. If you have any questions or requests. Do no hesitate to
    <a routerLink="contact">contact me.</a>
  </p>

  <p class="mat-caption">
    Clever Girl - Mon Jul 30 2018
  </p>
</app-page>
